.topBar
{
    background-color: black; 
    padding: 0em 1em;
    display: flex;
}
.Banner {
    width:70%;
}
.TopRight{
    width: 100%;
    margin-left: 7%;
    background-color: black;
    font-size: 100%;
}
.Title{
    color: white;
    font-family: 'HBB';
    font-size: 40px;
    display: flex;
}

.Links{
    display: flex;   
    background-color: black; 
}
.link{
    color: white;
    font-family: 'HBB';
    font-size: 25px;
    text-decoration: none !important;
}
.icon{
    position: absolute;
    margin-left: -25px;
}
.Settings{
    margin-left: 20%;
}


@font-face { 
    font-family: 'HBB';
    src: local('HBB'), url(../fonts/HBB.otf) format('opentype');
}



@media screen and (max-width: 320px) {
    .Title {
        font-size: 100%;
    }
    .link{
        font-size: 10px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .Title {
        font-size: 100%;
    }
    .link{
        font-size: 10px;
    }
}


@media screen and (width: 768px) {
    .Title {
        font-size: 200%;
    }
    .link{
        font-size: 20px;
    }
}
