.txt1{
    color:green;
    font-family: 'HBB';
    font-size: 200%;
    margin: 0%;
}

.img1{
    width: 115%;
    margin-left: -12px;
}

.img2{
    width: 150%;
}

.txt2{
    color: red;
    font-family: 'HBB';
    font-size: 200%;
    margin: 0%;
}